.DS_Store
ansible/
SaguarosCyberLab-Network.drawio
proxmox-automated-install/
cyberlabs/
**/data/*
!**/data/.gitkeep
__pycache__/
db_data/
cookies/

# Added for install.sh
/secrets/
*.key
.env
.env.*
**/.env.runtime
/tfvars/*.tfvars.json
/etc/cyberhub/secrets.env

# Vault persistent data
vault/data/

# Vault init/unseal output
vault/*.txt
vault/*.json

# TLS private keys if used
vault/config/*.key